#Создаем файл .gitignore (точка в начале обязательно)
#Этот файл указывает git, какие файлы игнорировать

#python временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd

#Виртуальное окружение python
venv/
env/
.env
.venv/

#Системные файлы
thumbs.db #Только для windows
.idea